*{
  margin:0;
  padding:0;
}
 body{
    color: aliceblue;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),
  url("survey.jpg");
  background-size: cover;
  height:100%;
  width:100%;
} 
form{
margin:10%;
margin-top: 2%;
}
label{
  display: block;
  padding: 10px;
}
.personel-details input,select, textarea{
  display: block;
  width:100%;
  margin:5px 2px 2px;
}
h1,p{
  text-align: center;
  padding: 5px;
  line-height: 2;
}
#submit{
display: block;
width:50%;
margin: 0 auto;
margin-bottom: 20px;
background-color: rgb(157, 216, 231);
color: rgb(0, 132, 255);
font-weight: 100;
}
#submit:hover {
  border: 3px solid #00d7c3;} 
  
